.react-datepicker {
  z-index: 100;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 22px rgba(217, 217, 217, 0.35);

  .react-datepicker__month {
    margin: 0;
  }
  .react-datepicker__month-container {
    padding: 10px !important;
  }
  .react-datepicker__header {
    border-bottom: none;
    padding: 16px;
  }
  .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    border-radius: 20px 20px 0 0;
    background-color: white;
  }
  .react-datepicker__day--in-range {
    background-color: #c2e4d7;
    color: #2aaa8a;
  }
  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    border-radius: 50%;
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    background-color: #2aaa8a;
    color: white;
  }

  .react-datepicker__day-names {
    margin-top: 10px;
  }
  .react-datepicker__navigation--previous,
  .react-datepicker__navigation--next {
    top: 22px;
  }
}
.react-datepicker__close-icon::after {
  background-color: rgb(199, 0, 57);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-70%, 3px);
}

.react-datepicker-popper {
  z-index: 10;
}

.react-datepicker-wrapper {
  width: fit-content;
  display: flex;
}

.react-datepicker__input-container {
  width: fit-content;
  display: flex;
}

.react-datepicker__tab-loop {
  position: absolute;
}

@media (max-width: 640px) {
  .react-datepicker-wrapper {
    width: 100%;
    flex-grow: 1;
  }
  .react-datepicker__input-container {
    width: 100%;
    flex-grow: 1;
  }
}
